[submodule "tsm-flight-ec-firmware-pressboard-port/Core/firmware-libraries"]
	path = tsm-flight-ec-firmware-pressboard-port/Core/firmware-libraries
	url = git@gitlab.eecs.umich.edu:masa/avionics/firmware-libraries.git
